<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>17/02/15 16:31:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.initialize()[pri:0, instance:com.selenium.gmail.testcases.loginTest@74650e52]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@103887628</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/02/15 16:31:15</td>   <td>1244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.dologinTest()[pri:0, instance:com.selenium.gmail.testcases.loginTest@74650e52]">dologinTest</td> 
  <td>main@103887628</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>17/02/15 16:31:56</td>   <td>42630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginTest.tearDown()[pri:0, instance:com.selenium.gmail.testcases.loginTest@74650e52]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@103887628</td>   <td></td> </tr>
</table>
